.storehouse_title {
    background: #009688;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
}
.storehouse_title_wrapper {
    margin-top: 30px;
}
.employee {
    border: solid 1px #009688;
    height: 120px;
    margin-top: 10px;
}
.employee-btn-add {
    line-height: 120px;

}
.employee-info {
    padding-left: 10px;
    padding-top: 10px;
}
.employee-info div {
    margin-top: 10px;
    color: #009688;
}
.employee-info div button{
    color: #009688;
}
.layui-btn {
    color: #0d6aad;
}