.contentMain{
    overflow: hidden;
}
.contentMain h2{
    color: #21212b;
    font-size: 24px;
    text-align: center;
    margin: 76px 0 42px 0;
}
.checkMenu{
    width: 840px;
    height: 44px;
    margin: 0 auto 20px auto;
}
.checkMenu>div{
    height: 42px;
    display: inline-block;
    position: relative;
}
.checkMenu>div label{
    margin:0 5px 0 26px;
}
.checkMenu input{
    width: 188px;
    height: 42px;
    border-radius:1px;
    border: 1px solid #d8d8e6;
    padding: 0 12px;
}
.simulation{
    background: url("../images/select_bottom.png") no-repeat 162px 16px;
    cursor: pointer;
    background-color: #fff;
}

/*模拟下拉列表*/
.check{
    width: 188px;
    position: absolute;
    right: 0;
    top: 43px;
    border: 1px solid #d8d8e6;
    background: #fff;
    overflow: hidden;
    display: none;
    z-index: 99;
}
.check li{
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
    text-align: left;
    color: #21212b;
    transition: .2s all ease;
}
.check li:hover{
    background: #edeefa;
    transition: .2s all ease;
}
.Remarks{
    width: 840px;
    margin:0 auto 30px auto;
    height: 100px;
    overflow: hidden;
}
.Remarks label{
    margin:12px 8px 0 0;
    float: left;
}
.Remarks textarea{
    resize: none;
    width: 776px;
    height: 100px;
    border-radius:1px;
    border: 1px solid #d8d8e6;
    padding:8px 10px;
}
.goodsList{
    width:1150px;
    margin: 0 auto 30px auto;
    background-color: #fff;
    　-moz-user-select: none; /*火狐*/

    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.goodsList tr{
    height: 48px;
    border-bottom: 6px solid #f3f7fb;
}
.goodsList tr:first-child{
    height: 40px;
}
.goodsList tr input[type=checkbox]{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
.goodsList tr .write{
    width: 110px;
    height: 30px;
    border-radius: 1px;
    border: 1px solid #d8d8e6;
    padding: 8px 10px;
}
.goodsList tr th,.goodsList tr td{
    text-align: center;
}
.goodsList tr:first-child{
    background-color: #eaebf9;
    color: #7c7eb1;
    line-height: 40px;
}
.goodsList tr td{
    /*line-height: 48px;*/
}
td a{
    cursor: pointer;
    color: #6565ef;
}
td a:hover{
    color: #3737a2;
    text-decoration:underline !important;
}
td .active{
    color: #ababbf;
}
.btnBox{
    width: 440px;
    height: 44px;
    margin: 0 auto 40px auto;
}
.btnBox button{
    width:200px;
    height: 42px;
    background-color: #7b80f8;
    color: #fff;
}
.goodsInWarehouse:hover,.batchPrinting:hover{
    color: #fff;
    background-color: #5f64e0;
}
.btnBox .copyPrevModel{
    color: #7b80f8;
    background-color: #fff;
    border: 1px solid #7b80f8;
    margin-left: 34px;
}
.copyPrevModel:hover{
    color: #5f64e0;
    border-color: #5f64e0;
}
.submitBox{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #eaebf9;
    height: 120px;
    overflow: hidden;
}
.submitBox p{
    position: absolute;
    top: 48px;
    left: 20px;
    color: #21212b;
    font-size: 18px;
}
.centerBox{
    margin: 38px auto 0 auto;
    width: 478px;
    /*width: 708px;*/
    height: 46px;
}
.centerBox button{
    width: 220px;
    height: 44px;
    color: #fff;
}
.DetermineInWarehousing{
    background-color: #f88648;
}
.batchPrinting{
    background-color: #7b80f8;
    color: #fff;
    margin: 0 16px;
}
#del{
    margin: 0;
    display: none;
}
.DetermineInWarehousing:hover{
    color: #fff;
    background-color: #fb7b35;
}
.section{
    margin-bottom: 160px;
}









/*弹出框样式*/
.alertBox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.5) ;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.alertContent{
    width:370px;
    height: 330px;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
.alertContent h3{
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    color: #65667f;
    background-color: #edeefa;
    padding: 0 20px;
}
.closeAlert{
    cursor: pointer;
    color: #b0b3ca;
    float: right;
}
.closeAlert:hover{
    color: #9698af;
}
.form-body{
    overflow: hidden;
}
.alertContent form{
    padding:17px 50px 20px 42px;
}
.form-control{
    padding: 0 12px;
    height: 40px;
    width: 190px;
}
.changePsd .form-group{
    overflow: hidden;
    margin-bottom: 20px;
}
.alertContent .form-group label{
    width: 70px;
    text-align: right;
    margin-right: 12px;
    color: #21212b;
    line-height: 40px;
    font-size: 14px;
    float: left;
}
.form-group>div{
    float: left;
    margin-bottom: 10px;
}
.changePsd .form-group>div{
    margin-bottom: 0;
}
.errorMessage{
    height: 12px;
    line-height: 12px;
}
.alertContent .btn_box{
    width: 150px;
    height: 34px;
    margin-top: 8px;
    float: right;
}
.alertContent .Determine{
    padding:0;
    color: #fff;
    width:100px;
    height: 34px;
    background-color: #7b80f8;
    margin: 0;
    float: left;
}
.Determine:hover{
    background-color:#5f64e0;
    color: #fff;
}
.return{
    background-color: #fff;
    border: 0;
    float: right;
    height: 34px;
    color: #6b6b78;
    font-size: 14px;
}
.write{
    margin: 6px 0 0 0;
}